<div>
    <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let c of listaCategorias">
            <td>{{c.nome}}</td>
            <td>
              <a (click)="editaCategoria($event, c)" href="#"><i class="material-icons">edit</i></a>
              &nbsp;&nbsp;&nbsp;
              <a href="#" (click)="deletaCategoria($event, c)"><i class="material-icons">delete</i></a>
            </td>
          </tr>
         
        </tbody>
      </table>
</div>
