<div>
    <app-barra-navegacao-admin></app-barra-navegacao-admin>
    <div class="container">
        <br><br>

        <div class="row">
            <div class="col s5">
                <h5>Categorias</h5>
            </div>
            <div class="col s6">
                <app-barra-busca></app-barra-busca>
            </div>
            <div class="col s1">
                <a style="margin-top: 1em;" class="btn-floating btn-large waves-effect waves-light red">
                    <i class="material-icons">add</i>
                </a>
            </div>

        </div>
       
        <div class="row">
            <div class="col s5 offset-s7">
                <app-paginacao ngDefaultControl></app-paginacao>    
            </div>
        </div>

        <br><br>

        <div class="row">
            <app-tabela-categoria *ngIf="!loader" [listaCategorias]="listaCategorias()" ></app-tabela-categoria>
            <div *ngIf="loader" class="progress"><div class="indeterminate"></div></div>
        </div>
        

    </div>
    


</div>

