<div>
    <table>
        <thead>
          <tr>
              <th>Produto</th>
              <th>Acoes</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let p of listaProdutos">
            <td>{{p.nome}}</td>
            <td>
              <a (click)="abreModalEditaProduto($event, p)" href="#"><i class="material-icons">edit</i></a>
              &nbsp;&nbsp;&nbsp;
              <a href="#" (click)="abreModalDeletaProduto($event, p)"><i class="material-icons">delete</i></a>
            </td>
          </tr>
         
        </tbody>
      </table>
</div>
