<div>
    <form action="" method="post">
        <div>
            <p>Nome</p>
            <input [(ngModel)]="nome" name="nome" type="text">
        </div>
        <br>
        <div>
            <p>Email</p>
            <input [(ngModel)]="email" name="email" type="email">
        </div>
        <br>
        <div>
            <p>JWT</p>
            <input [(ngModel)]="jwt" name="jwt" type="text">
        </div>
        <br>
        <button (click)="registraUsuario($event)">Salvar</button>
       


    </form>


</div>
