<div>
    <div id="modal-deleta-produto" class="modal">
        <div class="modal-content">
            <div class="input-field col s6">
                <p>Deletar o produto {{nome}} ?</p>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" (click)="deletar($event)" class="waves-effect waves-green btn-flat">Deletar</a>

        </div>
        <div class="row">
            <div *ngIf="loader" class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>

    </div>
</div>